name: Build Tutorial Container
on:
  push:
    branches:
      - feature/build-docker-image
  workflow_dispatch:

jobs:
  repo2docker:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: checkout files in repo
        uses: actions/checkout@main

      - name: update jupyter dependencies with repo2docker
        uses: jupyterhub/repo2docker-action@master
        with:
          DOCKER_USERNAME: ${{ github.actor }}
          DOCKER_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
          DOCKER_REGISTRY: "ghcr.io"
          IMAGE_NAME: ${{ github.repository }}
